<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <!-- The AppContextSwitchOverrides  we use allow the OS to choose the protocol, uses a TLS connection and blocks unsecure protocols. https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls#if-your-app-targets-a-net-framework-version-earlier-than-47-->
    <!-- When only setting this override does not help, you can try to add the following overrides one by one as well (values should be false) -->
    <!--Switch.System.Net.DontEnableSchUseStrongCrypto=false;Switch.System.ServiceModel.DisableUsingServicePointManagerSecurityProtocols=false;Switch.System.ServiceModel.DontEnableSystemDefaultTlsVersions=false -->
    <!---Don't also set the security protocol, because that will override the appcontextswitches-->
    <AppContextSwitchOverrides value="Switch.System.Net.DontEnableSystemDefaultTlsVersions=false"/>
  </runtime>
</configuration>